html{
    width: 1280px;
    height: 1626px;
}
.ul li{
    position: absolute;
    display: inline-block;
    margin-right: 25.5px;
}
.navigation {
    position: absolute;
    width: 620px;
    height: 15px;
    left: 330px;
    top: 31.5px;
}
a {
    text-decoration: none;
    color: #FF0000;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    
    letter-spacing: 2.7px;
    text-transform: uppercase;
}

img{
    margin-top: 78px;
}
.h2{
    text-align: center;
    height: 29px;
    left: 253px;
    top: 48px;
    bottom: 573px;
    right: 253px;
}
.div{
    color: #373737;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;

}
.btn {
    position: sticky;
    width: 191px;
    height: 51px;
    left: 544.5px;
    top: 557px;
    background: #FF0000;
    border-radius: 4px; 
}
.btn a{
    line-height: 12px;
    font-size: 12px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    justify-content: center;
   
    
    

}
footer p {
    width: 1070px;
    height: 39px;
    right: 105px;
    bottom: 29px;
}
.ftr {
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
letter-spacing: 2.4px;
left: 713px;
text-align: right;
}
